@use 'variables' as *;

:host {
  display: flex;
  height: 100vh;
  width: 100%;
}
.dashboard-layout {
  display: flex;
  height: 100vh;
  width: 100%;
}

.main-content {
  flex: 1; /* Ocupa el resto del espacio */
  background: $bg-page; /* Fondo principal */
  padding: 2rem;
  overflow-y: auto; // Permite scroll
}