/* Fuente personalizada */
@font-face {
  font-family: 'Inconsolata Condensed';
  src: url('../assets/fonts/Inconsolata_Condensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Fondo general de toda la app */
html, body {
  margin: 0;
  padding: 0;
  background-color: #43204a; // mismo que $color-bg
  font-family: Arial, Helvetica, sans-serif;
  color: #f8f7f6; // texto claro
  height: 100%;
  width: 100%;
}

/* Quitar scroll horizontal innecesario */
body {
  overflow-x: hidden;
}

/* Opcional: si usas un contenedor principal tipo <app-root> */
app-root {
  display: block;
  min-height: 100vh;
  background-color: #43204a;
}
